Gathering data

In [1]:
import pandas as pd
import numpy as np
import requests
import os
import tweepy as tw
import json

In [2]:
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [3]:
twitter_archive.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

In [4]:
folder_name = 'image_prediction'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

In [5]:
#programmatically download the tsv file
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
response

In [6]:
#save to a folder
with open(os.path.join(folder_name, url.split('/')[-1]), mode='wb') as file:
    file.write(response.content)

In [7]:
image_prediction = pd.read_csv('image_prediction/image-predictions.tsv', delimiter= '\t')
image_prediction

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [8]:
consumer_key= 'BIi26LduwxyflyqYSTrb8aLDN'
consumer_secret= 'bsPax1bDvD8kMjObVVLG8esh6jFtyURBvyFuffRgKu0lmA0jYk'
access_token= '1483108734406696962-Nl9iW4Xptb2BdVa2brtOV3FbalbTo5'
access_token_secret= 'ICTF3hLUi7eeN64tkfilUpMTdy4lBZHhGdN3r9QpC0Cb0'
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAKMKeQEAAAAAda13MQ8VYBJQP8PwkZeQQDd40ag%3DNaczZkQEDrR6s4x0bhARjIGkXiXCXvLFB439xX6w0EJ6Paf65A'

In [9]:
auth = tw.OAuth1UserHandler(consumer_key, consumer_secret, access_token, access_token_secret)
api = tw.API(auth,wait_on_rate_limit= True)
#use the JSON parser to generate json in the form of dictionaries from the API
#parser=(),tw.parsers.JSONParser,

In [10]:
tweet_ids = list(twitter_archive.tweet_id)

In [11]:
tweet_ids

[892420643555336193,
 892177421306343426,
 891815181378084864,
 891689557279858688,
 891327558926688256,
 891087950875897856,
 890971913173991426,
 890729181411237888,
 890609185150312448,
 890240255349198849,
 890006608113172480,
 889880896479866881,
 889665388333682689,
 889638837579907072,
 889531135344209921,
 889278841981685760,
 888917238123831296,
 888804989199671297,
 888554962724278272,
 888202515573088257,
 888078434458587136,
 887705289381826560,
 887517139158093824,
 887473957103951883,
 887343217045368832,
 887101392804085760,
 886983233522544640,
 886736880519319552,
 886680336477933568,
 886366144734445568,
 886267009285017600,
 886258384151887873,
 886054160059072513,
 885984800019947520,
 885528943205470208,
 885518971528720385,
 885311592912609280,
 885167619883638784,
 884925521741709313,
 884876753390489601,
 884562892145688576,
 884441805382717440,
 884247878851493888,
 884162670584377345,
 883838122936631299,
 883482846933004288,
 883360690899218434,
 883117836046086144,
 882992080364220416,
 882762694511734784,
 882627270321602560,
 882268110199369728,
 882045870035918850,
 881906580714921986,
 881666595344535552,
 881633300179243008,
 881536004380872706,
 881268444196462592,
 880935762899988482,
 880872448815771648,
 880465832366813184,
 880221127280381952,
 880095782870896641,
 879862464715927552,
 879674319642796034,
 879492040517615616,
 879415818425184262,
 879376492567855104,
 879130579576475649,
 879050749262655488,
 879008229531029506,
 878776093423087618,
 878604707211726852,
 878404777348136964,
 878316110768087041,
 878281511006478336,
 878057613040115712,
 877736472329191424,
 877611172832227328,
 877556246731214848,
 877316821321428993,
 877201837425926144,
 876838120628539392,
 876537666061221889,
 876484053909872640,
 876120275196170240,
 875747767867523072,
 875144289856114688,
 875097192612077568,
 875021211251597312,
 874680097055178752,
 874434818259525634,
 874296783580663808,
 874057562936811520,
 874012996292530176,
 873697596434513921,
 873580283840344065,
 873337748698140672,
 873213775632977920,
 872967104147763200,
 872820683541237760,
 872668790621863937,
 872620804844003328,
 872486979161796608,
 872261713294495745,
 872122724285648897,
 871879754684805121,
 871762521631449091,
 871515927908634625,
 871166179821445120,
 871102520638267392,
 871032628920680449,
 870804317367881728,
 870726314365509632,
 870656317836468226,
 870374049280663552,
 870308999962521604,
 870063196459192321,
 869988702071779329,
 869772420881756160,
 869702957897576449,
 869596645499047938,
 869227993411051520,
 868880397819494401,
 868639477480148993,
 868622495443632128,
 868552278524837888,
 867900495410671616,
 867774946302451713,
 867421006826221569,
 867072653475098625,
 867051520902168576,
 866816280283807744,
 866720684873056260,
 866686824827068416,
 866450705531457537,
 866334964761202691,
 866094527597207552,
 865718153858494464,
 865359393868664832,
 865006731092295680,
 864873206498414592,
 864279568663928832,
 864197398364647424,
 863907417377173506,
 863553081350529029,
 863471782782697472,
 863432100342583297,
 863427515083354112,
 863079547188785154,
 863062471531167744,
 862831371563274240,
 862722525377298433,
 862457590147678208,
 862096992088072192,
 861769973181624320,
 861383897657036800,
 861288531465048066,
 861005113778896900,
 860981674716409858,
 860924035999428608,
 860563773140209665,
 860524505164394496,
 860276583193509888,
 860184849394610176,
 860177593139703809,
 859924526012018688,
 859851578198683649,
 859607811541651456,
 859196978902773760,
 859074603037188101,
 858860390427611136,
 858843525470990336,
 858471635011153920,
 858107933456039936,
 857989990357356544,
 857746408056729600,
 857393404942143489,
 857263160327368704,
 857214891891077121,
 857062103051644929,
 857029823797047296,
 856602993587888130,
 856543823941562368,
 856526610513747968,
 856330835276025856,
 856288084350160898,
 856282028240666624,
 855862651834028034,
 855860136149123072,
 855857698524602368,
 855851453814013952,
 855818117272018944,
 855459453768019968,
 855245323840757760,
 855138241867124737,
 854732716440526848,
 854482394044301312,
 854365224396361728,
 854120357044912130,
 854010172552949760,
 853760880890318849,
 853639147608842240,
 853299958564483072,
 852936405516943360,
 852912242202992640,
 852672615818899456,
 852553447878664193,
 852311364735569921,
 852226086759018497,
 852189679701164033,
 851953902622658560,
 851861385021730816,
 851591660324737024,
 851464819735769094,
 851224888060895234,
 850753642995093505,
 850380195714523136,
 850333567704068097,
 850145622816686080,
 850019790995546112,
 849776966551130114,
 849668094696017920,
 849412302885593088,
 849336543269576704,
 849051919805034497,
 848690551926992896,
 848324959059550208,
 848213670039564288,
 848212111729840128,
 847978865427394560,
 847971574464610304,
 847962785489326080,
 847842811428974592,
 847617282490613760,
 847606175596138505,
 847251039262605312,
 847157206088847362,
 847116187444137987,
 846874817362120707,
 846514051647705089,
 846505985330044928,
 846153765933735936,
 846139713627017216,
 846042936437604353,
 845812042753855489,
 845677943972139009,
 845459076796616705,
 845397057150107648,
 845306882940190720,
 845098359547420673,
 844979544864018432,
 844973813909606400,
 844704788403113984,
 844580511645339650,
 844223788422217728,
 843981021012017153,
 843856843873095681,
 843604394117681152,
 843235543001513987,
 842892208864923648,
 842846295480000512,
 842765311967449089,
 842535590457499648,
 842163532590374912,
 842115215311396866,
 841833993020538882,
 841680585030541313,
 841439858740625411,
 841320156043304961,
 841314665196081154,
 841077006473256960,
 840761248237133825,
 840728873075638272,
 840698636975636481,
 840696689258311684,
 840632337062862849,
 840370681858686976,
 840268004936019968,
 839990271299457024,
 839549326359670784,
 839290600511926273,
 839239871831150596,
 838952994649550848,
 838921590096166913,
 838916489579200512,
 838831947270979586,
 838561493054533637,
 838476387338051585,
 838201503651401729,
 838150277551247360,
 838085839343206401,
 838083903487373313,
 837820167694528512,
 837482249356513284,
 837471256429613056,
 837366284874571778,
 837110210464448512,
 837012587749474308,
 836989968035819520,
 836753516572119041,
 836677758902222849,
 836648853927522308,
 836397794269200385,
 836380477523124226,
 836260088725786625,
 836001077879255040,
 835685285446955009,
 835574547218894849,
 835536468978302976,
 835309094223372289,
 835297930240217089,
 835264098648616962,
 835246439529840640,
 835172783151792128,
 835152434251116546,
 834931633769889797,
 834786237630337024,
 834574053763584002,
 834477809192075265,
 834458053273591808,
 834209720923721728,
 834167344700198914,
 834089966724603904,
 834086379323871233,
 833863086058651648,
 833826103416520705,
 833732339549220864,
 833722901757046785,
 833479644947025920,
 833124694597443584,
 832998151111966721,
 832769181346996225,
 832757312314028032,
 832682457690300417,
 832645525019123713,
 832636094638288896,
 832397543355072512,
 832369877331693569,
 832273440279240704,
 832215909146226688,
 832215726631055365,
 832088576586297345,
 832040443403784192,
 832032802820481025,
 831939777352105988,
 831926988323639298,
 831911600680497154,
 831670449226514432,
 831650051525054464,
 831552930092285952,
 831322785565769729,
 831315979191906304,
 831309418084069378,
 831262627380748289,
 830956169170665475,
 830583320585068544,
 830173239259324417,
 830097400375152640,
 829878982036299777,
 829861396166877184,
 829501995190984704,
 829449946868879360,
 829374341691346946,
 829141528400556032,
 829011960981237760,
 828801551087042563,
 828770345708580865,
 828708714936930305,
 828650029636317184,
 828409743546925057,
 828408677031882754,
 828381636999917570,
 828376505180889089,
 828372645993398273,
 828361771580813312,
 828046555563323392,
 828011680017821696,
 827933404142436356,
 827653905312006145,
 827600520311402496,
 827324948884643840,
 827228250799742977,
 827199976799354881,
 826958653328592898,
 826848821049180160,
 826615380357632002,
 826598799820865537,
 826598365270007810,
 826476773533745153,
 826240494070030336,
 826204788643753985,
 826115272272650244,
 825876512159186944,
 825829644528148480,
 825535076884762624,
 825147591692263424,
 825120256414846976,
 825026590719483904,
 824796380199809024,
 824775126675836928,
 824663926340194305,
 824325613288833024,
 824297048279236611,
 824025158776213504,
 823939628516474880,
 823719002937630720,
 823699002998870016,
 823581115634085888,
 823333489516937216,
 823322678127919110,
 823269594223824897,
 822975315408461824,
 822872901745569793,
 822859134160621569,
 822647212903690241,
 822610361945911296,
 822489057087389700,
 822462944365645825,
 822244816520155136,
 822163064745328640,
 821886076407029760,
 821813639212650496,
 821765923262631936,
 821522889702862852,
 821421320206483457,
 821407182352777218,
 821153421864615936,
 821149554670182400,
 821107785811234820,
 821044531881721856,
 820837357901512704,
 820749716845686786,
 820690176645140481,
 820494788566847489,
 820446719150292993,
 820314633777061888,
 820078625395449857,
 820013781606658049,
 819952236453363712,
 819924195358416896,
 819711362133872643,
 819588359383371776,
 819347104292290561,
 819238181065359361,
 819227688460238848,
 819015337530290176,
 819015331746349057,
 819006400881917954,
 819004803107983360,
 818646164899774465,
 818627210458333184,
 818614493328580609,
 818588835076603904,
 818536468981415936,
 818307523543449600,
 818259473185828864,
 818145370475810820,
 817908911860748288,
 817827839487737858,
 817777686764523521,
 817536400337801217,
 817502432452313088,
 817423860136083457,
 817415592588222464,
 817181837579653120,
 817171292965273600,
 817120970343411712,
 817056546584727552,
 816829038950027264,
 816816676327063552,
 816697700272001025,
 816450570814898180,
 816336735214911488,
 816091915477250048,
 816062466425819140,
 816014286006976512,
 815990720817401858,
 815966073409433600,
 815745968457060357,
 815736392542261248,
 815639385530101762,
 815390420867969024,
 814986499976527872,
 814638523311648768,
 814578408554463233,
 814530161257443328,
 814153002265309185,
 813944609378369540,
 813910438903693312,
 813812741911748608,
 813800681631023104,
 813217897535406080,
 813202720496779264,
 813187593374461952,
 813172488309972993,
 813157409116065792,
 813142292504645637,
 813130366689148928,
 813127251579564032,
 813112105746448384,
 813096984823349248,
 813081950185472002,
 813066809284972545,
 813051746834595840,
 812781120811126785,
 812747805718642688,
 812709060537683968,
 812503143955202048,
 812466873996607488,
 812372279581671427,
 811985624773361665,
 811744202451197953,
 811647686436880384,
 811627233043480576,
 811386762094317568,
 810984652412424192,
 810896069567610880,
 810657578271330305,
 810284430598270976,
 810254108431155201,
 809920764300447744,
 809808892968534016,
 809448704142938112,
 809220051211603969,
 809084759137812480,
 808838249661788160,
 808733504066486276,
 808501579447930884,
 808344865868283904,
 808134635716833280,
 808106460588765185,
 808001312164028416,
 807621403335917568,
 807106840509214720,
 807059379405148160,
 807010152071229440,
 806629075125202948,
 806620845233815552,
 806576416489959424,
 806542213899489280,
 806242860592926720,
 806219024703037440,
 805958939288408065,
 805932879469572096,
 805826884734976000,
 805823200554876929,
 805520635690676224,
 805487436403003392,
 805207613751304193,
 804738756058218496,
 804475857670639616,
 804413760345620481,
 804026241225523202,
 803773340896923648,
 803692223237865472,
 803638050916102144,
 803380650405482500,
 803321560782307329,
 803276597545603072,
 802952499103731712,
 802624713319034886,
 802600418706604034,
 802572683846291456,
 802323869084381190,
 802265048156610565,
 802247111496568832,
 802239329049477120,
 802185808107208704,
 801958328846974976,
 801854953262350336,
 801538201127157760,
 801285448605831168,
 801167903437357056,
 801127390143516673,
 801115127852503040,
 800859414831898624,
 800855607700029440,
 800751577355128832,
 800513324630806528,
 800459316964663297,
 800443802682937345,
 800388270626521089,
 800188575492947969,
 800141422401830912,
 800018252395122689,
 799774291445383169,
 799757965289017345,
 799422933579902976,
 799308762079035393,
 799297110730567681,
 799063482566066176,
 798933969379225600,
 798925684722855936,
 798705661114773508,
 798701998996647937,
 798697898615730177,
 798694562394996736,
 798686750113755136,
 798682547630837760,
 798673117451325440,
 798665375516884993,
 798644042770751489,
 798628517273620480,
 798585098161549313,
 798576900688019456,
 798340744599797760,
 798209839306514432,
 797971864723324932,
 797545162159308800,
 797236660651966464,
 797165961484890113,
 796904159865868288,
 796865951799083009,
 796759840936919040,
 796563435802726400,
 796484825502875648,
 796387464403357696,
 796177847564038144,
 796149749086875649,
 796125600683540480,
 796116448414461957,
 796080075804475393,
 796031486298386433,
 795464331001561088,
 795400264262053889,
 795076730285391872,
 794983741416415232,
 794926597468000259,
 794355576146903043,
 794332329137291264,
 794205286408003585,
 793962221541933056,
 793845145112371200,
 793614319594401792,
 793601777308463104,
 793500921481273345,
 793286476301799424,
 793271401113350145,
 793256262322548741,
 793241302385262592,
 793226087023144960,
 793210959003287553,
 793195938047070209,
 793180763617361921,
 793165685325201412,
 793150605191548928,
 793135492858580992,
 793120401413079041,
 792913359805018113,
 792883833364439040,
 792773781206999040,
 792394556390137856,
 792050063153438720,
 791821351946420224,
 791784077045166082,
 791780927877898241,
 791774931465953280,
 791672322847637504,
 791406955684368384,
 791312159183634433,
 791026214425268224,
 790987426131050500,
 790946055508652032,
 790723298204217344,
 790698755171364864,
 790581949425475584,
 790337589677002753,
 790277117346975746,
 790227638568808452,
 789986466051088384,
 789960241177853952,
 789903600034189313,
 789628658055020548,
 789599242079838210,
 789530877013393408,
 789314372632018944,
 789280767834746880,
 789268448748703744,
 789137962068021249,
 788908386943430656,
 788765914992902144,
 788552643979468800,
 788412144018661376,
 788178268662984705,
 788150585577050112,
 788070120937619456,
 788039637453406209,
 787810552592695296,
 787717603741622272,
 787397959788929025,
 787322443945877504,
 787111942498508800,
 786963064373534720,
 786729988674449408,
 786709082849828864,
 786664955043049472,
 786595970293370880,
 786363235746385920,
 786286427768250368,
 786233965241827333,
 786051337297522688,
 786036967502913536,
 785927819176054784,
 785872687017132033,
 785639753186217984,
 785533386513321988,
 785515384317313025,
 785264754247995392,
 785170936622350336,
 784826020293709826,
 784517518371221505,
 784431430411685888,
 784183165795655680,
 784057939640352768,
 783839966405230592,
 783821107061198850,
 783695101801398276,
 783466772167098368,
 783391753726550016,
 783347506784731136,
 783334639985389568,
 783085703974514689,
 782969140009107456,
 782747134529531904,
 782722598790725632,
 782598640137187329,
 782305867769217024,
 782021823840026624,
 781955203444699136,
 781661882474196992,
 781655249211752448,
 781524693396357120,
 781308096455073793,
 781251288990355457,
 781163403222056960,
 780931614150983680,
 780858289093574656,
 780800785462489090,
 780601303617732608,
 780543529827336192,
 780496263422808064,
 780476555013349377,
 780459368902959104,
 780192070812196864,
 780092040432480260,
 780074436359819264,
 779834332596887552,
 779377524342161408,
 779124354206535695,
 779123168116150273,
 779056095788752897,
 778990705243029504,
 778774459159379968,
 778764940568104960,
 778748913645780993,
 778650543019483137,
 778624900596654080,
 778408200802557953,
 778396591732486144,
 778383385161035776,
 778286810187399168,
 778039087836069888,
 778027034220126208,
 777953400541634568,
 777885040357281792,
 777684233540206592,
 777641927919427584,
 777621514455814149,
 777189768882946048,
 776819012571455488,
 776813020089548800,
 776477788987613185,
 776249906839351296,
 776218204058357768,
 776201521193218049,
 776113305656188928,
 776088319444877312,
 775898661951791106,
 775842724423557120,
 775733305207554048,
 775729183532220416,
 775364825476165632,
 775350846108426240,
 775096608509886464,
 775085132600442880,
 774757898236878852,
 774639387460112384,
 774314403806253056,
 773985732834758656,
 773922284943896577,
 773704687002451968,
 773670353721753600,
 773547596996571136,
 773336787167145985,
 773308824254029826,
 773247561583001600,
 773191612633579521,
 772877495989305348,
 772826264096874500,
 772615324260794368,
 772581559778025472,
 772193107915964416,
 772152991789019136,
 772117678702071809,
 772114945936949249,
 772102971039580160,
 771908950375665664,
 771770456517009408,
 771500966810099713,
 771380798096281600,
 771171053431250945,
 771136648247640064,
 771102124360998913,
 771014301343748096,
 771004394259247104,
 770787852854652928,
 770772759874076672,
 770743923962707968,
 770655142660169732,
 770414278348247044,
 770293558247038976,
 770093767776997377,
 770069151037685760,
 769940425801170949,
 769695466921623552,
 769335591808995329,
 769212283578875904,
 768970937022709760,
 768909767477751808,
 768855141948723200,
 768609597686943744,
 768596291618299904,
 768554158521745409,
 768473857036525572,
 768193404517830656,
 767884188863397888,
 767754930266464257,
 767500508068192258,
 767191397493538821,
 767122157629476866,
 766864461642756096,
 766793450729734144,
 766714921925144576,
 766693177336135680,
 766423258543644672,
 766313316352462849,
 766078092750233600,
 766069199026450432,
 766008592277377025,
 765719909049503744,
 765669560888528897,
 765395769549590528,
 765371061932261376,
 765222098633691136,
 764857477905154048,
 764259802650378240,
 763956972077010945,
 763837565564780549,
 763183847194451968,
 763167063695355904,
 763103485927849985,
 762699858130116608,
 762471784394268675,
 762464539388485633,
 762316489655476224,
 762035686371364864,
 761976711479193600,
 761750502866649088,
 761745352076779520,
 761672994376806400,
 761599872357261312,
 761371037149827077,
 761334018830917632,
 761292947749015552,
 761227390836215808,
 761004547850530816,
 760893934457552897,
 760656994973933572,
 760641137271070720,
 760539183865880579,
 760521673607086080,
 760290219849637889,
 760252756032651264,
 760190180481531904,
 760153949710192640,
 759943073749200896,
 759923798737051648,
 759846353224826880,
 759793422261743616,
 759566828574212096,
 759557299618865152,
 759447681597108224,
 759446261539934208,
 759197388317847553,
 759159934323924993,
 759099523532779520,
 759047813560868866,
 758854675097526272,
 758828659922702336,
 758740312047005698,
 758474966123810816,
 758467244762497024,
 758405701903519748,
 758355060040593408,
 758099635764359168,
 758041019896193024,
 757741869644341248,
 757729163776290825,
 757725642876129280,
 757611664640446465,
 757597904299253760,
 757596066325864448,
 757400162377592832,
 757393109802180609,
 757354760399941633,
 756998049151549440,
 756939218950160384,
 756651752796094464,
 756526248105566208,
 756303284449767430,
 756288534030475264,
 756275833623502848,
 755955933503782912,
 755206590534418437,
 755110668769038337,
 754874841593970688,
 754856583969079297,
 754747087846248448,
 754482103782404096,
 754449512966619136,
 754120377874386944,
 754011816964026368,
 753655901052166144,
 753420520834629632,
 753398408988139520,
 753375668877008896,
 753298634498793472,
 753294487569522689,
 753039830821511168,
 753026973505581056,
 752932432744185856,
 752917284578922496,
 752701944171524096,
 752682090207055872,
 752660715232722944,
 752568224206688256,
 752519690950500352,
 752334515931054080,
 752309394570878976,
 752173152931807232,
 751950017322246144,

In [12]:
status1 = api.get_status(tweet_ids[0])
status1.id

892420643555336193

In [13]:
data = []
for tweet in tweet_ids:
    try:
        status = api.get_status(tweet)
        data.append([status.id,status.favorite_count, status.retweet_count])
    except:
        pass

Rate limit reached. Sleeping for: 366
Rate limit reached. Sleeping for: 351

In [14]:
status

Status(_api=<tweepy.api.API object at 0x0000028232322280>, _json={'created_at': 'Sun Nov 15 22:32:08 +0000 2015', 'id': 666020888022790149, 'id_str': '666020888022790149', 'text': 'Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj', 'truncated': False, 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [], 'media': [{'id': 666020881337073664, 'id_str': '666020881337073664', 'indices': [108, 131], 'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'url': 'https://t.co/BLDqew2Ijj', 'display_url': 'pic.twitter.com/BLDqew2Ijj', 'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 960, 'h': 720, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 960, 'h': 720, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]}, 'extended_entities': {'media': [{'id': 666020881337073664, 'id_str': '666020881337073664', 'indices': [108, 131], 'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'url': 'https://t.co/BLDqew2Ijj', 'display_url': 'pic.twitter.com/BLDqew2Ijj', 'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 960, 'h': 720, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 960, 'h': 720, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 4196983835, 'id_str': '4196983835', 'name': 'WeRateDogsÂ®', 'screen_name': 'dog_rates', 'location': 'all our links âžœ', 'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook âžœ WeRateDogs partnerships@weratedogs.com | nonprofit: @15outof10 â €â €â €â €â €â €â €â €â €â €â €â €', 'url': 'https://t.co/YPc2XqmwyC', 'entities': {'url': {'urls': [{'url': 'https://t.co/YPc2XqmwyC', 'expanded_url': 'http://links.weratedogs.com', 'display_url': 'links.weratedogs.com', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 9309250, 'friends_count': 21, 'listed_count': 7487, 'created_at': 'Sun Nov 15 21:41:29 +0000 2015', 'favourites_count': 147020, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 15858, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': '000000', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1532010275708223491/-SBRbLoH_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1532010275708223491/-SBRbLoH_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1617810473', 'profile_link_color': 'F5ABB5', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': '000000', 'profile_text_color': '000000', 'profile_use_background_image': False, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 422, 'favorite_count': 2290, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'possibly_sensitive_appealable': False, 'lang': 'en'}, created_at=datetime.datetime(2015, 11, 15, 22, 32, 8, tzinfo=datetime.timezone.utc), id=666020888022790149, id_str='666020888022790149', text='Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj', truncated=False, entities={'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [], 'media': [{'id': 666020881337073664, 'id_str': '666020881337073664', 'indices': [108, 131], 'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'url': 'https://t.co/BLDqew2Ijj', 'display_url': 'pic.twitter.com/BLDqew2Ijj', 'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 960, 'h': 720, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 960, 'h': 720, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]}, extended_entities={'media': [{'id': 666020881337073664, 'id_str': '666020881337073664', 'indices': [108, 131], 'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'url': 'https://t.co/BLDqew2Ijj', 'display_url': 'pic.twitter.com/BLDqew2Ijj', 'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 960, 'h': 720, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 960, 'h': 720, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]}, source='Twitter for iPhone', source_url='http://twitter.com/download/iphone', in_reply_to_status_id=None, in_reply_to_status_id_str=None, in_reply_to_user_id=None, in_reply_to_user_id_str=None, in_reply_to_screen_name=None, author=User(_api=<tweepy.api.API object at 0x0000028232322280>, _json={'id': 4196983835, 'id_str': '4196983835', 'name': 'WeRateDogsÂ®', 'screen_name': 'dog_rates', 'location': 'all our links âžœ', 'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook âžœ WeRateDogs partnerships@weratedogs.com | nonprofit: @15outof10 â €â €â €â €â €â €â €â €â €â €â €â €', 'url': 'https://t.co/YPc2XqmwyC', 'entities': {'url': {'urls': [{'url': 'https://t.co/YPc2XqmwyC', 'expanded_url': 'http://links.weratedogs.com', 'display_url': 'links.weratedogs.com', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 9309250, 'friends_count': 21, 'listed_count': 7487, 'created_at': 'Sun Nov 15 21:41:29 +0000 2015', 'favourites_count': 147020, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 15858, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': '000000', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1532010275708223491/-SBRbLoH_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1532010275708223491/-SBRbLoH_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1617810473', 'profile_link_color': 'F5ABB5', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': '000000', 'profile_text_color': '000000', 'profile_use_background_image': False, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, id=4196983835, id_str='4196983835', name='WeRateDogsÂ®', screen_name='dog_rates', location='all our links âžœ', description='Your Only Source For Professional Dog Ratings Instagram and Facebook âžœ WeRateDogs partnerships@weratedogs.com | nonprofit: @15outof10 â €â €â €â €â €â €â €â €â €â €â €â €', url='https://t.co/YPc2XqmwyC', entities={'url': {'urls': [{'url': 'https://t.co/YPc2XqmwyC', 'expanded_url': 'http://links.weratedogs.com', 'display_url': 'links.weratedogs.com', 'indices': [0, 23]}]}, 'description': {'urls': []}}, protected=False, followers_count=9309250, friends_count=21, listed_count=7487, created_at=datetime.datetime(2015, 11, 15, 21, 41, 29, tzinfo=datetime.timezone.utc), favourites_count=147020, utc_offset=None, time_zone=None, geo_enabled=True, verified=True, statuses_count=15858, lang=None, contributors_enabled=False, is_translator=False, is_translation_enabled=False, profile_background_color='000000', profile_background_image_url='http://abs.twimg.com/images/themes/theme1/bg.png', profile_background_image_url_https='https://abs.twimg.com/images/themes/theme1/bg.png', profile_background_tile=False, profile_image_url='http://pbs.twimg.com/profile_images/1532010275708223491/-SBRbLoH_normal.jpg', profile_image_url_https='https://pbs.twimg.com/profile_images/1532010275708223491/-SBRbLoH_normal.jpg', profile_banner_url='https://pbs.twimg.com/profile_banners/4196983835/1617810473', profile_link_color='F5ABB5', profile_sidebar_border_color='000000', profile_sidebar_fill_color='000000', profile_text_color='000000', profile_use_background_image=False, has_extended_profile=False, default_profile=False, default_profile_image=False, following=False, follow_request_sent=False, notifications=False, translator_type='none', withheld_in_countries=[]), user=User(_api=<tweepy.api.API object at 0x0000028232322280>, _json={'id': 4196983835, 'id_str': '4196983835', 'name': 'WeRateDogsÂ®', 'screen_name': 'dog_rates', 'location': 'all our links âžœ', 'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook âžœ WeRateDogs partnerships@weratedogs.com | nonprofit: @15outof10 â €â €â €â €â €â €â €â €â €â €â €â €', 'url': 'https://t.co/YPc2XqmwyC', 'entities': {'url': {'urls': [{'url': 'https://t.co/YPc2XqmwyC', 'expanded_url': 'http://links.weratedogs.com', 'display_url': 'links.weratedogs.com', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 9309250, 'friends_count': 21, 'listed_count': 7487, 'created_at': 'Sun Nov 15 21:41:29 +0000 2015', 'favourites_count': 147020, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 15858, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': '000000', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1532010275708223491/-SBRbLoH_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1532010275708223491/-SBRbLoH_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1617810473', 'profile_link_color': 'F5ABB5', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': '000000', 'profile_text_color': '000000', 'profile_use_background_image': False, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, id=4196983835, id_str='4196983835', name='WeRateDogsÂ®', screen_name='dog_rates', location='all our links âžœ', description='Your Only Source For Professional Dog Ratings Instagram and Facebook âžœ WeRateDogs partnerships@weratedogs.com | nonprofit: @15outof10 â €â €â €â €â €â €â €â €â €â €â €â €', url='https://t.co/YPc2XqmwyC', entities={'url': {'urls': [{'url': 'https://t.co/YPc2XqmwyC', 'expanded_url': 'http://links.weratedogs.com', 'display_url': 'links.weratedogs.com', 'indices': [0, 23]}]}, 'description': {'urls': []}}, protected=False, followers_count=9309250, friends_count=21, listed_count=7487, created_at=datetime.datetime(2015, 11, 15, 21, 41, 29, tzinfo=datetime.timezone.utc), favourites_count=147020, utc_offset=None, time_zone=None, geo_enabled=True, verified=True, statuses_count=15858, lang=None, contributors_enabled=False, is_translator=False, is_translation_enabled=False, profile_background_color='000000', profile_background_image_url='http://abs.twimg.com/images/themes/theme1/bg.png', profile_background_image_url_https='https://abs.twimg.com/images/themes/theme1/bg.png', profile_background_tile=False, profile_image_url='http://pbs.twimg.com/profile_images/1532010275708223491/-SBRbLoH_normal.jpg', profile_image_url_https='https://pbs.twimg.com/profile_images/1532010275708223491/-SBRbLoH_normal.jpg', profile_banner_url='https://pbs.twimg.com/profile_banners/4196983835/1617810473', profile_link_color='F5ABB5', profile_sidebar_border_color='000000', profile_sidebar_fill_color='000000', profile_text_color='000000', profile_use_background_image=False, has_extended_profile=False, default_profile=False, default_profile_image=False, following=False, follow_request_sent=False, notifications=False, translator_type='none', withheld_in_countries=[]), geo=None, coordinates=None, place=None, contributors=None, is_quote_status=False, retweet_count=422, favorite_count=2290, favorited=False, retweeted=False, possibly_sensitive=False, possibly_sensitive_appealable=False, lang='en')

In [15]:
data

[[892420643555336193, 33777, 6995],
 [892177421306343426, 29298, 5295],
 [891815181378084864, 22031, 3475],
 [891689557279858688, 36893, 7217],
 [891327558926688256, 35276, 7747],
 [891087950875897856, 17789, 2596],
 [890971913173991426, 10352, 1658],
 [890729181411237888, 56803, 15737],
 [890609185150312448, 24492, 3615],
 [890240255349198849, 27920, 6090],
 [890006608113172480, 27007, 6143],
 [889880896479866881, 24541, 4159],
 [889665388333682689, 42001, 8338],
 [889638837579907072, 23642, 3709],
 [889531135344209921, 13347, 1878],
 [889278841981685760, 22093, 4439],
 [888917238123831296, 25609, 3757],
 [888804989199671297, 22430, 3529],
 [888554962724278272, 17302, 2876],
 [888078434458587136, 19136, 2892],
 [887705289381826560, 26594, 4531],
 [887517139158093824, 40678, 9838],
 [887473957103951883, 60134, 14999],
 [887343217045368832, 29567, 8805],
 [887101392804085760, 26950, 4982],
 [886983233522544640, 30346, 6303],
 [886736880519319552, 10489, 2625],
 [886680336477933568, 19712, 3731],
 [886366144734445568, 18535, 2628],
 [886267009285017600, 105, 4],
 [886258384151887873, 24493, 5280],
 [886054160059072513, 0, 93],
 [885984800019947520, 28579, 5603],
 [885528943205470208, 31558, 5321],
 [885518971528720385, 17988, 3104],
 [885311592912609280, 0, 15412],
 [885167619883638784, 19230, 3663],
 [884925521741709313, 67209, 15002],
 [884876753390489601, 24359, 4667],
 [884562892145688576, 21296, 3906],
 [884441805382717440, 23849, 4785],
 [884247878851493888, 63167, 16896],
 [884162670584377345, 17915, 2499],
 [883838122936631299, 19152, 2857],
 [883482846933004288, 40165, 8254],
 [883360690899218434, 19925, 3073],
 [883117836046086144, 32485, 5526],
 [882992080364220416, 20965, 3242],
 [882762694511734784, 24763, 4088],
 [882627270321602560, 24580, 5057],
 [882268110199369728, 39158, 9612],
 [882045870035918850, 25697, 4078],
 [881906580714921986, 21428, 2852],
 [881666595344535552, 44503, 8946],
 [881633300179243008, 113, 8],
 [881536004380872706, 43404, 13381],
 [881268444196462592, 20469, 4486],
 [880935762899988482, 15036, 2330],
 [880872448815771648, 18697, 3199],
 [880465832366813184, 25001, 5207],
 [880221127280381952, 23646, 3461],
 [880095782870896641, 24305, 3649],
 [879862464715927552, 19683, 2924],
 [879674319642796034, 282, 9],
 [879492040517615616, 20690, 2628],
 [879415818425184262, 92756, 37399],
 [879376492567855104, 14847, 2644],
 [879130579576475649, 0, 5734],
 [879050749262655488, 19792, 3950],
 [879008229531029506, 16770, 2240],
 [878776093423087618, 17120, 3429],
 [878604707211726852, 26413, 5918],
 [878404777348136964, 0, 1075],
 [878316110768087041, 0, 5518],
 [878281511006478336, 6770, 1075],
 [878057613040115712, 37115, 5734],
 [877736472329191424, 69211, 15785],
 [877611172832227328, 0, 70],
 [877556246731214848, 19883, 3165],
 [877316821321428993, 24119, 4338],
 [877201837425926144, 23836, 4622],
 [876838120628539392, 18203, 2800],
 [876537666061221889, 21043, 3967],
 [876484053909872640, 16550, 1998],
 [876120275196170240, 24670, 3896],
 [875747767867523072, 22092, 3580],
 [875144289856114688, 19409, 4147],
 [875097192612077568, 24227, 5107],
 [875021211251597312, 22521, 3966],
 [874680097055178752, 24582, 3914],
 [874434818259525634, 0, 12193],
 [874296783580663808, 22941, 3481],
 [874057562936811520, 20095, 3374],
 [874012996292530176, 30097, 8582],
 [873580283840344065, 21357, 3340],
 [873337748698140672, 0, 1330],
 [873213775632977920, 6314, 1330],
 [872967104147763200, 24041, 4556],
 [872820683541237760, 13061, 3163],
 [872620804844003328, 18316, 3062],
 [872486979161796608, 36067, 7710],
 [872122724285648897, 30196, 6818],
 [871879754684805121, 33063, 9237],
 [871762521631449091, 17874, 2968],
 [871515927908634625, 17877, 2935],
 [871166179821445120, 0, 4890],
 [871102520638267392, 18533, 4667],
 [871032628920680449, 20135, 3218],
 [870804317367881728, 29775, 5278],
 [870726314365509632, 105, 3],
 [870656317836468226, 10886, 2201],
 [870374049280663552, 73897, 22724],
 [870308999962521604, 19472, 3546],
 [870063196459192321, 32399, 7065],
 [869772420881756160, 37974, 8688],
 [869702957897576449, 25033, 5381],
 [869596645499047938, 14188, 2634],
 [869227993411051520, 18127, 3195],
 [868880397819494401, 57914, 12245],
 [868639477480148993, 0, 1750],
 [868622495443632128, 23616, 4463],
 [868552278524837888, 8960, 1750],
 [867900495410671616, 21581, 3565],
 [867774946302451713, 30252, 6243],
 [867421006826221569, 14340, 2111],
 [867072653475098625, 0, 101],
 [867051520902168576, 28689, 6775],
 [866720684873056260, 17863, 4127],
 [866686824827068416, 17115, 2964],
 [866450705531457537, 108743, 30164],
 [866334964761202691, 46563, 12193],
 [866094527597207552, 0, 7155],
 [865718153858494464, 22911, 4839],
 [865359393868664832, 23587, 4282],
 [865006731092295680, 25021, 6663],
 [864873206498414592, 28835, 7491],
 [864279568663928832, 13062, 2579],
 [864197398364647424, 26620, 7581],
 [863907417377173506, 18430, 3584],
 [863553081350529029, 13671, 3630],
 [863471782782697472, 0, 2089],
 [863432100342583297, 21291, 4550],
 [863427515083354112, 1957, 80],
 [863079547188785154, 7895, 952],
 [863062471531167744, 7523, 2089],
 [862831371563274240, 17213, 4451],
 [862722525377298433, 15329, 3089],
 [862457590147678208, 18259, 4245],
 [862096992088072192, 66239, 19979],
 [861383897657036800, 32268, 9261],
 [861288531465048066, 15342, 3587],
 [861005113778896900, 14980, 3335],
 [860981674716409858, 0, 1855],
 [860924035999428608, 0, 678],
 [860563773140209665, 6717, 1855],
 [860524505164394496, 21246, 4602],
 [860276583193509888, 16573, 3066],
 [860184849394610176, 15002, 5120],
 [860177593139703809, 0, 26724],
 [859924526012018688, 17624, 3580],
 [859851578198683649, 13967, 3067],
 [859607811541651456, 16830, 1364],
 [859196978902773760, 80505, 26252],
 [859074603037188101, 30418, 11956],
 [858860390427611136, 0, 7079],
 [858843525470990336, 14116, 3026],
 [858471635011153920, 19473, 4257],
 [858107933456039936, 14233, 2539],
 [857989990357356544, 14487, 2265],
 [857746408056729600, 30798, 9337],
 [857393404942143489, 5305, 1443],
 [857263160327368704, 18245, 3974],
 [857214891891077121, 203, 16],
 [857062103051644929, 0, 148],
 [857029823797047296, 17040, 3489],
 [856543823941562368, 14831, 2545],
 [856526610513747968, 10823, 1652],
 [856288084350160898, 487, 15],
 [856282028240666624, 25217, 5576],
 [855862651834028034, 303, 21],
 [855860136149123072, 4402, 853],
 [855857698524602368, 10853, 1860],
 [855851453814013952, 41890, 16121],
 [855818117272018944, 24272, 4812],
 [855459453768019968, 27095, 7301],
 [855245323840757760, 0, 5265],
 [855138241867124737, 0, 36],
 [854732716440526848, 20686, 5347],
 [854482394044301312, 26572, 6021],
 [854365224396361728, 17191, 4149],
 [854120357044912130, 29220, 6591],
 [854010172552949760, 14832, 2789],
 [853760880890318849, 26087, 5115],
 [853639147608842240, 31548, 8877],
 [853299958564483072, 14168, 3170],
 [852936405516943360, 0, 1788],
 [852912242202992640, 8255, 1600],
 [852672615818899456, 13640, 1911],
 [852553447878664193, 14908, 3118],
 [852311364735569921, 30357, 8878],
 [852226086759018497, 18351, 6089],
 [852189679701164033, 10569, 1419],
 [851591660324737024, 14958, 3125],
 [851464819735769094, 22268, 6313],
 [851224888060895234, 19050, 5170],
 [850753642995093505, 28150, 8081],
 [850380195714523136, 12078, 2331],
 [850333567704068097, 3192, 301],
 [850145622816686080, 15038, 3395],
 [850019790995546112, 18783, 4372],
 [849776966551130114, 27906, 6816],
 [849668094696017920, 0, 4447],
 [849412302885593088, 14675, 2833],
 [849336543269576704, 10555, 1692],
 [849051919805034497, 39018, 7623],
 [848690551926992896, 23274, 3924],
 [848324959059550208, 22841, 4154],
 [848213670039564288, 7543, 646],
 [848212111729840128, 15033, 2720],
 [847978865427394560, 0, 2922],
 [847971574464610304, 0, 396],
 [847962785489326080, 21739, 4575],
 [847842811428974592, 5014, 1191],
 [847617282490613760, 6471, 376],
 [847606175596138505, 17352, 3090],
 [847251039262605312, 18978, 3921],
 [847157206088847362, 18378, 5254],
 [847116187444137987, 19879, 2875],
 [846874817362120707, 18628, 3550],
 [846514051647705089, 41201, 10383],
 [846505985330044928, 13074, 2762],
 [846153765933735936, 29110, 8177],
 [846139713627017216, 28826, 9169],
 [846042936437604353, 14817, 2590],
 [845812042753855489, 27032, 7864],
 [845677943972139009, 23444, 4380],
 [845397057150107648, 7089, 1622],
 [845306882940190720, 21621, 4863],
 [845098359547420673, 0, 6942],
 [844979544864018432, 12681, 2314],
 [844973813909606400, 13940, 2855],
 [844580511645339650, 15295, 2815],
 [844223788422217728, 12708, 1994],
 [843981021012017153, 14121, 2699],
 [843856843873095681, 19971, 4171],
 [843604394117681152, 15715, 2480],
 [843235543001513987, 19979, 5413],
 [842846295480000512, 14221, 3315],
 [842765311967449089, 6300, 1176],
 [842535590457499648, 16924, 3183],
 [842163532590374912, 22738, 5265],
 [842115215311396866, 13037, 2760],
 [841833993020538882, 0, 13580],
 [841680585030541313, 24045, 7161],
 [841439858740625411, 11732, 3329],
 [841320156043304961, 18422, 5022],
 [841314665196081154, 14762, 4242],
 [841077006473256960, 21340, 4890],
 [840761248237133825, 0, 1622],
 [840728873075638272, 0, 14592],
 [840698636975636481, 164, 2],
 [840696689258311684, 11480, 891],
 [840632337062862849, 8434, 1622],
 [840370681858686976, 15337, 4184],
 [840268004936019968, 17916, 5216],
 [839990271299457024, 12541, 2069],
 [839549326359670784, 25588, 7079],
 [839290600511926273, 0, 132],
 [839239871831150596, 25251, 5941],
 [838952994649550848, 18378, 3663],
 [838921590096166913, 10426, 1855],
 [838916489579200512, 0, 31],
 [838831947270979586, 0, 10032],
 [838561493054533637, 10254, 1233],
 [838476387338051585, 20980, 4345],
 [838201503651401729, 0, 9195],
 [838150277551247360, 1570, 304],
 [838085839343206401, 133, 1],
 [838083903487373313, 16471, 2843],
 [837820167694528512, 31846, 7155],
 [837482249356513284, 3613, 407],
 [837471256429613056, 11995, 2065],
 [837110210464448512, 15068, 2181],
 [836989968035819520, 11956, 2115],
 [836753516572119041, 18141, 4268],
 [836677758902222849, 11857, 2025],
 [836648853927522308, 0, 508],
 [836397794269200385, 0, 25093],
 [836380477523124226, 13911, 2746],
 [836260088725786625, 19959, 3981],
 [836001077879255040, 17903, 3896],
 [835685285446955009, 0, 7421],
 [835574547218894849, 16663, 3302],
 [835536468978302976, 0, 1543],
 [835309094223372289, 0, 19179],
 [835297930240217089, 15445, 2741],
 [835264098648616962, 7242, 1543],
 [835246439529840640, 1991, 63],
 [835172783151792128, 24580, 5294],
 [835152434251116546, 20964, 2762],
 [834931633769889797, 10109, 1492],
 [834786237630337024, 20230, 5108],
 [834574053763584002, 12818, 2315],
 [834477809192075265, 0, 9770],
 [834458053273591808, 9032, 1549],
 [834209720923721728, 19258, 4330],
 [834167344700198914, 14830, 3364],
 [834089966724603904, 9452, 1963],
 [834086379323871233, 12248, 2040],
 [833863086058651648, 12628, 2213],
 [833826103416520705, 17081, 3490],
 [833732339549220864, 0, 205],
 [833722901757046785, 19694, 2999],
 [833479644947025920, 14013, 1894],
 [833124694597443584, 18999, 4447],
 [832998151111966721, 12437, 2018],
 [832769181346996225, 0, 38],
 [832757312314028032, 15852, 3319],
 [832682457690300417, 11147, 2669],
 [832645525019123713, 2741, 485],
 [832636094638288896, 14898, 2560],
 [832397543355072512, 11250, 2037],
 [832369877331693569, 16087, 2922],
 [832273440279240704, 10657, 2147],
 [832215909146226688, 0, 5726],
 [832215726631055365, 0, 8590],
 [832088576586297345, 59, 2],
 [832040443403784192, 0, 8824],
 [832032802820481025, 16779, 4304],
 [831939777352105988, 22482, 5659],
 [831926988323639298, 319, 34],
 [831911600680497154, 25859, 5977],
 [831670449226514432, 9785, 1689],
 [831650051525054464, 6681, 1788],
 [831552930092285952, 8458, 2162],
 [831322785565769729, 8752, 1447],
 [831315979191906304, 6174, 1037],
 [831309418084069378, 11096, 2268],
 [831262627380748289, 11165, 1889],
 [830956169170665475, 7516, 1375],
 [830583320585068544, 62423, 15412],
 [830173239259324417, 0, 5242],
 [830097400375152640, 9163, 2698],
 [829878982036299777, 0, 4607],
 [829861396166877184, 11520, 1793],
 [829501995190984704, 29885, 9770],
 [829449946868879360, 9877, 1862],
 [829141528400556032, 22913, 6771],
 [829011960981237760, 50269, 15105],
 [828801551087042563, 0, 3160],
 [828770345708580865, 24087, 5394],
 [828708714936930305, 34270, 10328],
 [828650029636317184, 8941, 1236],
 [828409743546925057, 6041, 1079],
 [828408677031882754, 7250, 1185],
 [828381636999917570, 11872, 2057],
 [828376505180889089, 6986, 994],
 [828372645993398273, 11868, 2724],
 [828361771580813312, 2071, 165],
 [828046555563323392, 11055, 2653],
 [828011680017821696, 9771, 1988],
 [827933404142436356, 18847, 4833],
 [827653905312006145, 14584, 2793],
 [827600520311402496, 7053, 864],
 [827324948884643840, 14943, 2806],
 [827199976799354881, 9999, 2060],
 [826958653328592898, 20305, 4607],
 [826848821049180160, 34027, 9332],
 [826615380357632002, 0, 3680],
 [826598799820865537, 4858, 230],
 [826598365270007810, 9440, 2180],
 [826476773533745153, 17365, 3891],
 [826240494070030336, 12521, 2418],
 [826204788643753985, 4597, 855],
 [826115272272650244, 14736, 2868],
 [825876512159186944, 9919, 1736],
 [825829644528148480, 12016, 2330],
 [825535076884762624, 53938, 16341],
 [825147591692263424, 17251, 4179],
 [825120256414846976, 0, 1166],
 [825026590719483904, 5906, 1166],
 [824796380199809024, 0, 5096],
 [824775126675836928, 14056, 3271],
 [824663926340194305, 9934, 1642],
 [824325613288833024, 11168, 9875],
 [824297048279236611, 14219, 3565],
 [824025158776213504, 4573, 557],
 [823939628516474880, 10051, 2532],
 [823719002937630720, 0, 10352],
 [823699002998870016, 13207, 2332],
 [823581115634085888, 12259, 2440],
 [823333489516937216, 662, 22],
 [823322678127919110, 14820, 3716],
 [823269594223824897, 0, 9213],
 [822975315408461824, 16353, 3199],
 [822872901745569793, 123981, 39881],
 [822859134160621569, 12443, 2109],
 [822647212903690241, 0, 5951],
 [822610361945911296, 13954, 2729],
 [822489057087389700, 17104, 5951],
 [822462944365645825, 26289, 13133],
 [822244816520155136, 33100, 9213],
 [822163064745328640, 0, 4370],
 [821886076407029760, 10672, 2136],
 [821813639212650496, 0, 3125],
 [821765923262631936, 7899, 1556],
 [821522889702862852, 7568, 1631],
 [821421320206483457, 0, 5124],
 [821407182352777218, 11097, 3990],
 [821153421864615936, 236, 9],
 [821149554670182400, 8104, 1825],
 [821107785811234820, 9058, 1968],
 [821044531881721856, 11946, 2123],
 [820837357901512704, 0, 6235],
 [820749716845686786, 29813, 9195],
 [820690176645140481, 11579, 2997],
 [820494788566847489, 0, 522],
 [820446719150292993, 0, 2390],
 [820314633777061888, 3157, 522],
 [820078625395449857, 18639, 5787],
 [820013781606658049, 0, 1082],
 [819952236453363712, 5016, 1082],
 [819924195358416896, 12227, 4537],
 [819711362133872643, 12613, 2872],
 [819588359383371776, 9150, 1867],
 [819347104292290561, 6831, 1115],
 [819238181065359361, 2137, 379],
 [819227688460238848, 21777, 6235],
 [819015337530290176, 0, 34517],
 [819015331746349057, 0, 17779],
 [819006400881917954, 42997, 17779],
 [819004803107983360, 82633, 34517],
 [818646164899774465, 0, 19430],
 [818627210458333184, 21205, 7052],
 [818614493328580609, 9295, 2350],
 [818588835076603904, 0, 5688],
 [818536468981415936, 10270, 2270],
 [818307523543449600, 0, 7452],
 [818259473185828864, 10418, 2083],
 [818145370475810820, 11608, 2365],
 [817908911860748288, 4607, 739],
 [817827839487737858, 48593, 25093],
 [817777686764523521, 10218, 2520],
 [817536400337801217, 11112, 2727],
 [817502432452313088, 0, 3141],
 [817423860136083457, 31824, 13580],
 [817415592588222464, 5289, 888],
 [817181837579653120, 0, 7857],
 [817171292965273600, 8303, 1866],
 [817120970343411712, 11541, 2411],
 [817056546584727552, 8133, 1514],
 [816829038950027264, 0, 4385],
 [816816676327063552, 9467, 1890],
 [816697700272001025, 9237, 2054],
 [816450570814898180, 28677, 7452],
 [816336735214911488, 8161, 1800],
 [816091915477250048, 8472, 1985],
 [816062466425819140, 0, 944],
 [816014286006976512, 0, 4877],
 [815990720817401858, 4686, 944],
 [815966073409433600, 21112, 7857],
 [815745968457060357, 0, 3853],
 [815736392542261248, 9296, 2119],
 [815639385530101762, 7820, 1550],
 [815390420867969024, 9818, 3569],
 [814986499976527872, 7254, 1185],
 [814638523311648768, 10687, 2521],
 [814578408554463233, 0, 5456],
 [814530161257443328, 8213, 1739],
 [814153002265309185, 27228, 8104],
 [813944609378369540, 0, 2954],
 [813910438903693312, 8848, 1728],
 [813812741911748608, 34606, 13023],
 [813800681631023104, 7879, 1649],
 [813217897535406080, 17678, 6845],
 [813202720496779264, 8762, 1704],
 [813187593374461952, 18816, 4045],
 [813172488309972993, 8801, 1806],
 [813157409116065792, 7375, 2065],
 [813142292504645637, 8079, 2240],
 [813130366689148928, 4257, 418],
 [813127251579564032, 11197, 2918],
 [813112105746448384, 9784, 2565],
 [813096984823349248, 10019, 3383],
 [813081950185472002, 9422, 2593],
 [813066809284972545, 7535, 1825],
 [813051746834595840, 19910, 6847],
 [812781120811126785, 7147, 1787],
 [812709060537683968, 6289, 1351],
 [812503143955202048, 5741, 1148],
 [812466873996607488, 7563, 1799],
 [812372279581671427, 12934, 3421],
 [811985624773361665, 6911, 1311],
 [811744202451197953, 7155, 1473],
 [811647686436880384, 5319, 682],
 [811627233043480576, 12071, 2847],
 [811386762094317568, 19852, 5973],
 [810984652412424192, 5055, 1330],
 [810896069567610880, 8534, 1643],
 [810657578271330305, 10427, 2466],
 [810284430598270976, 33308, 10485],
 [810254108431155201, 13966, 3160],
 [809920764300447744, 14779, 3680],
 [809808892968534016, 0, 4573],
 [809448704142938112, 6605, 1366],
 [809220051211603969, 18862, 5242],
 [809084759137812480, 12558, 3301],
 [808838249661788160, 9640, 2862],
 [808733504066486276, 7489, 2033],
 [808501579447930884, 10756, 2454],
 [808344865868283904, 40169, 19430],
 [808134635716833280, 0, 5510],
 [808106460588765185, 8380, 2064],
 [808001312164028416, 11844, 3302],
 [807621403335917568, 13845, 3381],
 [807106840509214720, 111560, 51591],
 [807059379405148160, 0, 6881],
 [807010152071229440, 12459, 3627],
 [806629075125202948, 70544, 32353],
 [806620845233815552, 0, 5137],
 [806576416489959424, 4660, 1823],
 [806542213899489280, 9729, 2217],
 [806242860592926720, 0, 10875],
 [806219024703037440, 6130, 1133],
 [805958939288408065, 0, 5007],
 [805932879469572096, 7880, 1800],
 [805826884734976000, 6237, 1714],
 [805823200554876929, 0, 7465],
 [805520635690676224, 5486, 1550],
 [805487436403003392, 8345, 2378],
 [805207613751304193, 7479, 1626],
 [804738756058218496, 12979, 3600],
 [804475857670639616, 5840, 1891],
 [804413760345620481, 0, 3007],
 [804026241225523202, 42031, 15026],
 [803773340896923648, 9552, 2585],
 [803692223237865472, 0, 6925],
 [803638050916102144, 10377, 3881],
 [803380650405482500, 7390, 1767],
 [803321560782307329, 0, 4955],
 [803276597545603072, 9542, 2296],
 [802952499103731712, 8568, 1872],
 [802624713319034886, 0, 2725],
 [802600418706604034, 6755, 1381],
 [802572683846291456, 8505, 2356],
 [802323869084381190, 15329, 5474],
 [802265048156610565, 6619, 1295],
 [802239329049477120, 8641, 2459],
 [802185808107208704, 0, 251],
 [801958328846974976, 7362, 1595],
 [801854953262350336, 1723, 219],
 [801538201127157760, 7810, 1952],
 [801285448605831168, 5739, 771],
 [801167903437357056, 23159, 5510],
 [801127390143516673, 0, 3696],
 [801115127852503040, 7672, 1984],
 [800859414831898624, 645, 91],
 [800855607700029440, 0, 1516],
 [800751577355128832, 10083, 2632],
 [800513324630806528, 12481, 2827],
 [800459316964663297, 9041, 2060],
 [800443802682937345, 0, 4021],
 [800388270626521089, 10606, 2635],
 [800188575492947969, 0, 3691],
 [800141422401830912, 14504, 2390],
 [800018252395122689, 26872, 12301],
 [799774291445383169, 0, 4366],
 [799757965289017345, 7969, 2001],
 [799422933579902976, 7682, 1799],
 [799308762079035393, 0, 5080],

In [16]:
columns = ['tweet_id', 'favorite_count', 'retweet_count']
tweets = pd.DataFrame(data, columns= columns)
tweets

                tweet_id  favorite_count  retweet_count
0     892420643555336193           33777           6995
1     892177421306343426           29298           5295
2     891815181378084864           22031           3475
3     891689557279858688           36893           7217
4     891327558926688256           35276           7747
...                  ...             ...            ...
2322  666049248165822465              88             36
2323  666044226329800704             247            115
2324  666033412701032449             100             36
2325  666029285002620928             112             39
2326  666020888022790149            2290            422

[2327 rows x 3 columns]

In [17]:
tweets.to_csv('tweets.csv')
twitter_archive.to_csv('twitter_archive.csv')
image_prediction.to_csv('image_prediction.csv')
#saved the dataframe for personal purpose.

## Assessment

In [18]:
twitter_archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [19]:
image_prediction

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [20]:
tweets

                tweet_id  favorite_count  retweet_count
0     892420643555336193           33777           6995
1     892177421306343426           29298           5295
2     891815181378084864           22031           3475
3     891689557279858688           36893           7217
4     891327558926688256           35276           7747
...                  ...             ...            ...
2322  666049248165822465              88             36
2323  666044226329800704             247            115
2324  666033412701032449             100             36
2325  666029285002620928             112             39
2326  666020888022790149            2290            422

[2327 rows x 3 columns]

In [21]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [22]:
twitter_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [23]:
#the describe function shows the maximum denominator to be greater than 10. This is a quality data issue.
twitter_archive.query('rating_denominator > 10')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The floofs have been released I repeat the flo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/820690176...,84,70,None,None,None,None,None
784,775096608509886464,NaN,NaN,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: After so many requests, this is...",7.403732e+17,4.196984e+09,2016-06-08 02:41:38 +0000,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
902,758467244762497024,NaN,NaN,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Why does this never happen at my front door......,NaN,NaN,NaN,https://twitter.com/dog_rates/status/758467244...,165,150,None,None,None,None,None
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...","After so many requests, this is Bretagne. She ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to this unbelievably well behaved sq...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023...,204,170,this,None,None,None,None
1165,722974582966214656,NaN,NaN,2016-04-21 02:25:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy 4/20 from the squad! 13/10 for all https...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/722974582...,4,20,None,None,None,None,None
1202,716439118184652801,NaN,NaN,2016-04-03 01:36:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bluebert. He just saw that both #Final...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716439118...,50,50,Bluebert,None,None,None,None
1228,713900603437621249,NaN,NaN,2016-03-27 01:29:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Saturday here's 9 puppers on a bench. 99...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713900603...,99,90,None,None,None,None,None
1254,710658690886586372,NaN,NaN,2016-03-18 02:46:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a brigade of puppers. All look very pre...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710658690...,80,80,None,None,None,None,None
1274,709198395643068416,NaN,NaN,2016-03-14 02:04:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...","From left to right:\nCletus, Jerome, Alejandro...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/709198395...,45,50,None,None,None,None,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845...,60,50,a,None,None,None,None
1433,697463031882764288,NaN,NaN,2016-02-10 16:51:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Wednesday here's a bucket of pups. 44/40...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697463031...,44,40,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Two sneaky puppers were not initially seen, mo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684225744...,143,130,None,None,None,None,None
1635,684222868335505415,NaN,NaN,2016-01-05 04:00:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Someone help the girl is being mugged. Several...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684222868...,121,110,None,None,None,None,None
1662,682962037429899265,NaN,NaN,2016-01-01 16:30:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darrel. He just robbed a 7/11 and is i...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682962037...,7,11,Darrel,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",IT'S PUPPERGEDDON. Total of 144/120 ...I think...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515...,144,120,None,None,None,None,None
1843,675853064436391936,NaN,NaN,2015-12-13 01:41:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have an entire platoon of puppers. Tot...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675853064...,88,80,None,None,None,None,None

In [24]:
#The describe function shows the maximum numerator to be 1776 which seems to be unusual.
twitter_archive.query('rating_numerator == 1776')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
979,749981277374128128,NaN,NaN,2016-07-04 15:00:45 +0000,"<a href=""https://about.twitter.com/products/tw...",This is Atticus. He's quite simply America af....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/749981277...,1776,10,Atticus,None,None,None,None

In [25]:
twitter_archive.sample(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
743,780459368902959104,NaN,NaN,2016-09-26 17:29:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Bear. Don't worry, he's not a real bea...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/780459368...,11,10,Bear,None,None,None,None
719,783391753726550016,NaN,NaN,2016-10-04 19:42:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Godi. He's an avid beachgoer and part tim...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/783391753...,13,10,Godi,None,None,None,None
2197,668826086256599040,NaN,NaN,2015-11-23 16:18:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Banditt. He is a brown LaBeouf retriev...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668826086...,10,10,Banditt,None,None,None,None

In [26]:
twitter_archive.expanded_urls.sample(3)

1200    https://twitter.com/chpsanfrancisco/status/716...
1102    https://twitter.com/dog_rates/status/735274964...
492     https://twitter.com/dog_rates/status/813217897...
Name: expanded_urls, dtype: object

In [27]:
twitter_archive.isnull().sum()
#missing values

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [28]:
image_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [29]:
image_prediction.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [30]:
image_prediction.sample(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
166,668981893510119424,https://pbs.twimg.com/media/CUize-0WEAAerAK.jpg,1,jellyfish,0.447246,False,coral_reef,0.238625,False,goldfish,0.040227,False
1471,779377524342161408,https://pbs.twimg.com/ext_tw_video_thumb/77937...,1,sundial,0.170921,False,cash_machine,0.060359,False,maze,0.054981,False

In [31]:
image_prediction.query('p1_dog == False')
#p1_dog is the most accurate prediction for the images.

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2026,882045870035918850,https://pbs.twimg.com/media/DD2oCl2WAAEI_4a.jpg,1,web_site,0.949591,False,dhole,0.017326,False,golden_retriever,0.006941,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [32]:
image_prediction.isnull().sum()
#no missing values

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [33]:
tweets.sample(5)

                tweet_id  favorite_count  retweet_count
1507  689977555533848577            1271            410
1914  673709992831262724             752            236
248   842765311967449089            6300           1176
1390  698355670425473025            1703            396
792   771014301343748096            6482           1536

In [34]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2327 entries, 0 to 2326
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2327 non-null   int64
 1   favorite_count  2327 non-null   int64
 2   retweet_count   2327 non-null   int64
dtypes: int64(3)
memory usage: 54.7 KB

In [35]:
tweets.isnull().sum()
#no missing values

tweet_id          0
favorite_count    0
retweet_count     0
dtype: int64

In [36]:
tweets.describe()

           tweet_id  favorite_count  retweet_count
count  2.327000e+03     2327.000000    2327.000000
mean   7.417930e+17     7046.259991    2467.479158
std    6.820795e+16    10949.877347    4178.579011
min    6.660209e+17        0.000000       1.000000
25%    6.781394e+17     1224.000000     493.500000
50%    7.178418e+17     3047.000000    1148.000000
75%    7.986547e+17     8593.000000    2856.000000
max    8.924206e+17   144708.000000   70617.000000

### Quality Issues

#### twitter_archive
    1.'in_reply_to_status','in_reply_to_user_id','retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp' all have missing data.
    2. Missing data in 'expanded_urls' column.
    3. Missing items in 'in_reply_to_user_id' column.
    4. Data type for 'timestamp' column should be date_time.
    5. 'source' column data are mostly duplicated.
    6. Redundant/ not required columns - 'retweet_status_id', 'retweet_status_time_stamp'.
    7. 'Rating_denominator' have values greater other than 10.
    8. Very high rating 'rating_numerator of 1776 @ row 979.
    9. Dog_name consists of missing data and other names such as 'a'. 
    10. Change data type for retweet and favorite count after merging from float to int.
#### image_predictions

    11. column_names not explanatory.
    12. Names of dog breed predicted separated by under_scores.
    13. 543 rows contains False dog predictions.

### Tidiness Issues
#### twitter_archive
1. 'doggo', 'floofer', 'pupper', 'puppo' should be collapse into a single column - 'dog_stage' (every variable should form a column.)

#### tweets
2. tweets dataframe should be a part of the twitter_archive dataframe. Every observational unit should form a table. The two dataframes have same/similar observation units.

## Cleaning

In [37]:
twitter_archive_clean = twitter_archive.copy()
image_prediction_clean = image_prediction.copy()
tweets_clean = tweets.copy()

### Define, Code, Test
Do this for each assessed issues.

### Tidiness

tweets dataframe should be a part of the twitter_archive dataframe. Every observational unit should form a table. The two dataframes have same/similar observation units. Use pandas merge function to join two dataframes.

In [420]:
twitter_archive_clean.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

In [421]:
twitter_archive_clean = pd.merge(twitter_archive_clean, tweets_clean, on= ['tweet_id'], how= 'left')
twitter_archive_clean.sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,favorite_count,retweet_count
1962,673355879178194945,NaN,NaN,2015-12-06 04:18:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. She's a boss. Helps shift gears....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/673355879...,11,10,Koda,None,None,None,None,1342.0,493.0
1845,675845657354215424,NaN,NaN,2015-12-13 01:12:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pepper. She's not fully comfortable ri...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675845657...,10,10,Pepper,None,None,pupper,None,2048.0,779.0
373,828376505180889089,NaN,NaN,2017-02-05 22:55:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Beebop. Her name means ""Good Dog"" in r...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/828376505...,13,10,Beebop,None,None,None,None,6985.0,994.0
563,802572683846291456,NaN,NaN,2016-11-26 18:00:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Winnie. She's h*ckin ferocious. Dandel...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/802572683...,12,10,Winnie,None,None,None,None,8507.0,2356.0
1338,705066031337840642,NaN,NaN,2016-03-02 16:23:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Reese. He's a Chilean Sohcahtoa. Loves...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/705066031...,12,10,Reese,None,None,None,None,2017.0,556.0
1279,708845821941387268,NaN,NaN,2016-03-13 02:43:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a pupper with magic eyes. Not wearing a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/708845821...,9,10,None,None,None,pupper,None,2743.0,806.0
1023,746521445350707200,NaN,NaN,2016-06-25 01:52:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Shaggy. He knows exactl...,6.678667e+17,4.196984e+09,2015-11-21 00:46:50 +0000,https://twitter.com/dog_rates/status/667866724...,10,10,Shaggy,None,None,None,None,0.0,900.0
632,793962221541933056,NaN,NaN,2016-11-02 23:45:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maximus. His face is stuck like that. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/793962221...,12,10,Maximus,None,None,None,None,15906.0,4573.0
1787,677565715327688705,NaN,NaN,2015-12-17 19:07:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Contortionist pup here. Inside pentagram. Clea...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677565715...,6,10,None,None,None,None,None,1191.0,411.0
47,883117836046086144,NaN,NaN,2017-07-07 00:17:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Please only send dogs. We don't rate mechanics...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883117836...,13,10,None,None,None,None,None,32490.0,5527.0

In [422]:
twitter_archive_clean.shape

(2356, 19)

In [423]:
twitter_archive_clean.retweet_count.isnull().sum()

31

In [424]:
twitter_archive_clean['retweet_count'].dropna()
twitter_archive_clean.retweet_count.isnull().sum()

31

In [425]:
twitter_archive_clean.query('retweet_count == 0')

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, favorite_count, retweet_count]
Index: []

'doggo', 'floofer', 'pupper', 'puppo' should be collapse into a single column - 'dog_stage' (every variable should form a column.)
Use melt function to collapse the columns to one, and drop the resluting unnecessary columns.

In [426]:
twitter_archive_clean.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo',
       'favorite_count', 'retweet_count'],
      dtype='object')

In [427]:
columns_needed = ['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator','name','favorite_count','retweet_count']
twitter_archive_clean= pd.melt(twitter_archive_clean, id_vars= columns_needed, 
                               value_vars=['doggo', 'floofer', 'pupper', 'puppo'],var_name= 'dog_stage')

In [428]:
twitter_archive_clean.sample()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,favorite_count,retweet_count,dog_stage,value
5871,724046343203856385,NaN,NaN,2016-04-24 01:24:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Sarge. Not even he knows what his tong...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/724046343...,10,10,Sarge,2453.0,513.0,pupper,None

In [429]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9424 entries, 0 to 9423
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    9424 non-null   int64
 1   in_reply_to_status_id       312 non-null    float64
 2   in_reply_to_user_id         312 non-null    float64
 3   timestamp                   9424 non-null   object
 4   source                      9424 non-null   object
 5   text                        9424 non-null   object
 6   retweeted_status_id         724 non-null    float64
 7   retweeted_status_user_id    724 non-null    float64
 8   retweeted_status_timestamp  724 non-null    object
 9   expanded_urls               9188 non-null   object
 10  rating_numerator            9424 non-null   int64
 11  rating_denominator          9424 non-null   int64
 12  name                        9424 non-null   object
 13  favorite_count              9300 non-null   float64
 14  retweet_count               9300 non-null   float64
 15  dog_stage                   9424 non-null   object
 16  value                       9424 non-null   object
dtypes: float64(6), int64(3), object(8)
memory usage: 1.2+ MB

In [430]:
twitter_archive_clean.tweet_id.duplicated().sum()

7068

In [431]:
twitter_archive_clean.duplicated().sum()

0

### Quality Issues

#### Kindly note that some identical quality issues were merged and cleaned together

    1.'in_reply_to_status','in_reply_to_user_id','retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp' all have missing data.

Drop these columns as they do not provide useful insights.

In [432]:
twitter_archive_clean.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'favorite_count', 'retweet_count',
       'dog_stage', 'value'],
      dtype='object')

In [433]:
columns_drop = ['in_reply_to_status_id', 'in_reply_to_user_id','text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp']
twitter_archive_clean.drop(columns_drop, axis= 1, inplace= True)

In [434]:
twitter_archive_clean.columns

Index(['tweet_id', 'timestamp', 'source', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'favorite_count', 'retweet_count',
       'dog_stage', 'value'],
      dtype='object')

    2. Missing data in 'expanded_urls' column.
drop column

In [435]:
twitter_archive_clean.drop('expanded_urls', axis= 1, inplace= True)

In [436]:
twitter_archive_clean.columns

Index(['tweet_id', 'timestamp', 'source', 'rating_numerator',
       'rating_denominator', 'name', 'favorite_count', 'retweet_count',
       'dog_stage', 'value'],
      dtype='object')

    3.Data type for 'timestamp' column should be date_time.
 change data type.

In [437]:
twitter_archive_clean.timestamp = pd.to_datetime(twitter_archive_clean['timestamp'])

In [438]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9424 entries, 0 to 9423
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            9424 non-null   int64
 1   timestamp           9424 non-null   datetime64[ns, UTC]
 2   source              9424 non-null   object
 3   rating_numerator    9424 non-null   int64
 4   rating_denominator  9424 non-null   int64
 5   name                9424 non-null   object
 6   favorite_count      9300 non-null   float64
 7   retweet_count       9300 non-null   float64
 8   dog_stage           9424 non-null   object
 9   value               9424 non-null   object
dtypes: datetime64[ns, UTC](1), float64(2), int64(3), object(4)
memory usage: 736.4+ KB

    4. 'source' column data are mostly duplicated.
 drop source column

In [439]:
twitter_archive_clean.drop('source', axis= 1, inplace= True)

In [440]:
twitter_archive_clean.columns

Index(['tweet_id', 'timestamp', 'rating_numerator', 'rating_denominator',
       'name', 'favorite_count', 'retweet_count', 'dog_stage', 'value'],
      dtype='object')

    5.'Rating_denominator' have values greater other than 10.
Drop all the rows with denominator_rating other than 10.

In [441]:
twitter_archive_clean.query('rating_denominator != 10')

,tweet_id,timestamp,rating_numerator,rating_denominator,name,favorite_count,retweet_count,dog_stage,value
313,835246439529840640,2017-02-24 21:54:03+00:00,960,0,None,1991.0,63.0,doggo,None
342,832088576586297345,2017-02-16 04:45:50+00:00,11,15,None,59.0,2.0,doggo,None
433,820690176645140481,2017-01-15 17:52:40+00:00,84,70,None,11579.0,2997.0,doggo,None
516,810984652412424192,2016-12-19 23:06:23+00:00,24,7,Sam,5055.0,1330.0,doggo,None
784,775096608509886464,2016-09-11 22:20:06+00:00,9,11,None,NaN,NaN,doggo,None
...,...,...,...,...,...,...,...,...,...
8730,682962037429899265,2016-01-01 16:30:13+00:00,7,11,Darrel,33797.0,14889.0,puppo,None
8731,682808988178739200,2016-01-01 06:22:03+00:00,20,16,None,1629.0,154.0,puppo,None
8847,677716515794329600,2015-12-18 05:06:23+00:00,144,120,None,2784.0,877.0,puppo,None
8911,675853064436391936,2015-12-13 01:41:41+00:00,88,80,None,2427.0,1135.0,puppo,None
9403,666287406224695296,2015-11-16 16:11:11+00:00,1,2,an,123.0,57.0,puppo,None

In [442]:
wrong_denominator = list(twitter_archive_clean.query('rating_denominator != 10').index)
twitter_archive_clean.drop(index= wrong_denominator, inplace= True)

In [443]:
twitter_archive_clean.query('rating_denominator != 10')

Empty DataFrame
Columns: [tweet_id, timestamp, rating_numerator, rating_denominator, name, favorite_count, retweet_count, dog_stage, value]
Index: []

    6.Very high rating 'rating_numerator of 1776 @ row 979.
drop this row.

In [444]:
twitter_archive_clean.query('rating_numerator == 1776')

,tweet_id,timestamp,rating_numerator,rating_denominator,name,favorite_count,retweet_count,dog_stage,value
979,749981277374128128,2016-07-04 15:00:45+00:00,1776,10,Atticus,4784.0,2278.0,doggo,None
3335,749981277374128128,2016-07-04 15:00:45+00:00,1776,10,Atticus,4784.0,2278.0,floofer,None
5691,749981277374128128,2016-07-04 15:00:45+00:00,1776,10,Atticus,4784.0,2278.0,pupper,None
8047,749981277374128128,2016-07-04 15:00:45+00:00,1776,10,Atticus,4784.0,2278.0,puppo,None

In [445]:
ind = [979, 3335, 5691, 8047]
twitter_archive_clean.drop(index= ind, inplace= True)

In [446]:
twitter_archive_clean.query('rating_numerator == 1776')

Empty DataFrame
Columns: [tweet_id, timestamp, rating_numerator, rating_denominator, name, favorite_count, retweet_count, dog_stage, value]
Index: []

    7. Dog_name consists of missing data and other names such as 'a' and 'an'.
   replace the missing dog names with 'None' using pandas replace function.

In [447]:
twitter_archive_clean.name.value_counts()

None          2912
a              216
Charlie         48
Lucy            44
Cooper          44
              ...
Edmund           4
Aqua             4
Chase            4
Meatball         4
Christoper       4
Name: name, Length: 954, dtype: int64

In [448]:
twitter_archive_clean['name'] = twitter_archive_clean.name.replace(['a'], 'None')

In [449]:
twitter_archive_clean.name.value_counts()

None          3128
Charlie         48
Lucy            44
Oliver          44
Cooper          44
              ...
Edmund           4
Aqua             4
Chase            4
Meatball         4
Christoper       4
Name: name, Length: 953, dtype: int64

In [450]:
twitter_archive_clean.query('name == "an"')
twitter_archive_clean['name'] = twitter_archive_clean.name.replace(['an'], 'None')

In [451]:
twitter_archive_clean.query('name == "an"')

Empty DataFrame
Columns: [tweet_id, timestamp, rating_numerator, rating_denominator, name, favorite_count, retweet_count, dog_stage, value]
Index: []

In [452]:
twitter_archive_clean.sample(5)

,tweet_id,timestamp,rating_numerator,rating_denominator,name,favorite_count,retweet_count,dog_stage,value
1593,686386521809772549,2016-01-11 03:17:53+00:00,11,10,Crimson,3009.0,791.0,doggo,None
426,821407182352777218,2017-01-17 17:21:47+00:00,14,10,Sundance,11097.0,3990.0,doggo,doggo
8944,675111688094527488,2015-12-11 00:35:44+00:00,8,10,Oliver,867.0,213.0,puppo,None
3387,745422732645535745,2016-06-22 01:06:43+00:00,9,10,very,7948.0,2202.0,floofer,None
7235,859851578198683649,2017-05-03 19:26:06+00:00,13,10,Trooper,13966.0,3067.0,puppo,None

    8. Change data type for retweet and favorite count after merging from float to int.
remove the null values then change the data types

In [385]:
twitter_archive_clean

,tweet_id,timestamp,rating_numerator,rating_denominator,name,favorite_count,retweet_count,dog_stage,value
0,892420643555336193,2017-08-01 16:23:56+00:00,13,10,Phineas,33780.0,6996.0,doggo,None
1,892177421306343426,2017-08-01 00:17:27+00:00,13,10,Tilly,29306.0,5295.0,doggo,None
2,891815181378084864,2017-07-31 00:18:03+00:00,12,10,Archie,22034.0,3475.0,doggo,None
3,891689557279858688,2017-07-30 15:58:51+00:00,13,10,Darla,36898.0,7217.0,doggo,None
4,891327558926688256,2017-07-29 16:00:24+00:00,12,10,Franklin,35280.0,7748.0,doggo,None
...,...,...,...,...,...,...,...,...,...
9419,666049248165822465,2015-11-16 00:24:50+00:00,5,10,None,89.0,36.0,puppo,None
9420,666044226329800704,2015-11-16 00:04:52+00:00,6,10,None,247.0,115.0,puppo,None
9421,666033412701032449,2015-11-15 23:21:54+00:00,9,10,None,100.0,36.0,puppo,None
9422,666029285002620928,2015-11-15 23:05:30+00:00,7,10,None,112.0,39.0,puppo,None
9423,666020888022790149,2015-11-15 22:32:08+00:00,8,10,None,2290.0,422.0,puppo,None

In [386]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9328 entries, 0 to 9423
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            9328 non-null   int64
 1   timestamp           9328 non-null   datetime64[ns, UTC]
 2   rating_numerator    9328 non-null   int64
 3   rating_denominator  9328 non-null   int64
 4   name                9328 non-null   object
 5   favorite_count      9208 non-null   float64
 6   retweet_count       9208 non-null   float64
 7   dog_stage           9328 non-null   object
 8   value               9328 non-null   object
dtypes: datetime64[ns, UTC](1), float64(2), int64(3), object(3)
memory usage: 728.8+ KB

In [418]:
twitter_archive_clean.sample(5)

,tweet_id,timestamp,rating_numerator,rating_denominator,name,favorite_count,retweet_count,dog_stage,value
8813,679148763231985668,2015-12-22 03:57:37+00:00,8,10,None,0,0,puppo,None
7668,798673117451325440,2016-11-15 23:44:44+00:00,13,10,None,0,0,puppo,None
2920,802323869084381190,2016-11-26 01:31:31+00:00,13,10,Severus,0,0,floofer,None
2928,801285448605831168,2016-11-23 04:45:12+00:00,10,10,None,0,0,floofer,None
6368,683357973142474752,2016-01-02 18:43:31+00:00,10,10,None,0,0,pupper,None

In [391]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9328 entries, 0 to 9423
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            9328 non-null   int64
 1   timestamp           9328 non-null   datetime64[ns, UTC]
 2   rating_numerator    9328 non-null   int64
 3   rating_denominator  9328 non-null   int64
 4   name                9328 non-null   object
 5   favorite_count      9328 non-null   int32
 6   retweet_count       9328 non-null   int32
 7   dog_stage           9328 non-null   object
 8   value               9328 non-null   object
dtypes: datetime64[ns, UTC](1), int32(2), int64(3), object(3)
memory usage: 655.9+ KB

In [282]:
image_prediction_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [283]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9328 entries, 0 to 9423
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            9328 non-null   int64
 1   timestamp           9328 non-null   datetime64[ns, UTC]
 2   rating_numerator    9328 non-null   int64
 3   rating_denominator  9328 non-null   int64
 4   name                9328 non-null   object
 5   favorite_count      9328 non-null   int32
 6   retweet_count       9328 non-null   int32
 7   dog_stage           9328 non-null   object
 8   value               9328 non-null   object
dtypes: datetime64[ns, UTC](1), int32(2), int64(3), object(3)
memory usage: 913.9+ KB

In [303]:
twitter_archive_clean.sample(10)

,tweet_id,timestamp,rating_numerator,rating_denominator,name,favorite_count,retweet_count,dog_stage,value
2914,803321560782307329,2016-11-28 19:35:59+00:00,11,10,Philbert,0,0,floofer,None
296,837366284874571778,2017-03-02 18:17:34+00:00,13,10,Lucy,1,1,doggo,None
4526,669351434509529089,2015-11-25 03:06:32+00:00,10,10,Sully,0,0,floofer,None
977,750011400160841729,2016-07-04 17:00:26+00:00,11,10,Piper,0,0,doggo,doggo
1200,716730379797970944,2016-04-03 20:53:33+00:00,12,10,None,0,0,doggo,None
40,884562892145688576,2017-07-11 00:00:02+00:00,13,10,Kevin,0,0,doggo,None
6358,683834909291606017,2016-01-04 02:18:42+00:00,9,10,None,0,0,pupper,pupper
5128,822610361945911296,2017-01-21 01:02:48+00:00,12,10,None,0,0,pupper,None
5095,827199976799354881,2017-02-02 17:00:17+00:00,13,10,Charlie,0,0,pupper,None
726,782598640137187329,2016-10-02 15:10:30+00:00,11,10,Timmy,0,0,doggo,None